body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero-container {
  width: 100vw;
  height: calc(100vh - 20vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}

.silver-liner-gradient-text {
  background-image: linear-gradient(to right, #AFAFAF, #988888, #9b6262);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transform: translateY(-100px);
  text-align: center;
}

.hero-container p {
  color: white;
  transform: translateY(-100px);
  font-size: 1.25rem;
  text-align: center;
  max-width: 800px;
  margin: 10px 20px;
}

.btn-01 {
  width: 7.5rem;
  height: 3rem;
  border-radius: 60px;
  border: 1px solid transparent; 
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(-70px);
}

.btn-01::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: conic-gradient(from 0deg, rgb(43, 255, 0), transparent 60%);
  animation: revolve 3s linear infinite;
  z-index: -2;
}

.btn-01::after {
  content: '';
  position: absolute;
  top: 3px; /* match border thickness */
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: calc(60px - 3px);
  background: rgb(70, 70, 70);
  z-index: -1;
}

@keyframes revolve {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}